<section
  class="w-11/12 max-w-[70vh] mx-auto grid grid-cols-2 gap-3 mt-5 lg:max-w-[38vw] lg:max-h-[500px] lg:gap-10"
>
  <img
    src="/images/ushguli.webp"
    alt="Pueblo antiguo de Ushguli"
    class="w-full h-full object-cover aspect-square rounded-2xl row-span-2 lg:h-[80%] lg:m-auto"
  />

  <img
    src="/images/ksamil.webp"
    alt="Playa ksamil"
    class="w-full h-full object-cover aspect-square rounded-2xl"
  />
  <img
    src="/images/thailand.webp"
    alt="Isla Thailand"
    class="w-full h-full object-cover aspect-square rounded-2xl"
  />
</section>
