---
import CoverCallToAction from "./CoverCallToAction.astro";
---

<section class="w-11/12 mx-auto pt-[10vh]">
  <h2 class="text-2xl font-bold text-balance lg:text-6xl">
    Descubre las maravillas <br class="hidden lg:block" />
    <span
      class="bg-gradient-to-r from-orange-500 to-orange-700 bg-clip-text text-transparent"
      >ocultas</span
    >
    <span>del mundo</span>
  </h2>

  <p class="mt-3 lg:w-[70%] lg:text-xl lg:mt-5">
    Explora lugares increíbles, culturas fascinantes y secretos que aún esperan
    ser revelados. Sumérgete en un viaje único por los rincones más
    sorprendentes y menos conocidos del planeta.
  </p>

  <section class="hidden lg:block">
    <CoverCallToAction />
  </section>
</section>
