---
import TrekkerReviewCardList from "./TrekkerReviewCardList.astro";
---

<section class="max-w-11/12 mx-auto mt-[10vh] opacity-0 lg:mt-[20vh] section">
  <h2 class="font-bold text-2xl lg:text-4xl">Experiencias compartidas</h2>

  <TrekkerReviewCardList />
</section>
