---
import { unplashRequestTo } from "@/services/unplash.services";
import { storiesList } from "../constants/storiesList";
import type { UnplashPhotoResponse } from "@/interfaces/unplash.interface";
import StoryCard from "./StoryCard.astro";

const landscapes = (await unplashRequestTo(
  "/search/photos?query=paisajes"
)) as UnplashPhotoResponse;
---

<article class="mt-3 flex flex-col gap-4 lg:grid lg:grid-cols-2">
  {
    (
      <StoryCard
        {...storiesList[0]}
        photo={landscapes.results[0].urls.regular}
      />
    )
  }

  <div class="flex flex-col gap-5">
    {
      storiesList.slice(1).map((story, index) => {
        return (
          <StoryCard
            {...story}
            mode="horizontal"
            photo={landscapes.results[index + 1].urls.regular}
          />
        );
      })
    }
  </div>
</article>
