---
import StoriesCardList from "./StoriesCardList.astro";
---

<section class="w-11/12 mx-auto opacity-0 mt-[10vh] lg:mt-[20vh] section">
  <h2 class="text-2xl font-bold lg:text-4xl">Últimas historias</h2>

  <StoriesCardList />
</section>
