---
import Logo from "./Logo.astro";
import Social from "./Social.astro";
---

<footer class="w-11/12 mx-auto mt-[10vh] lg:mt-[20vh]">
  <article class="mt-3 flex items-center justify-between">
    <Logo />
    <Social />
  </article>

  <p class="text-center mt-5">
    Desarrollado por <a
      href="http://www.fabiomorinigo.com"
      target="_blank"
      class="bg-gradient-to-r from-blue-600 to-blue-800 bg-clip-text text-transparent"
      >Fabio Sosa</a
    >
  </p>
</footer>
