---
import Logo from "./Logo.astro";
---

<header
  class="flex justify-between items-center w-full h-[10vh] z-50 fixed backdrop-blur-3xl lg:top-0 lg:px-10"
>
  <Logo />

  <section class="flex items-center gap-2 lg:flex-row-reverse lg:w-full">
  </section>
</header>
