<section>
  <h2 class="text-base font-semibold">Siguenos en:</h2>

  <article class="flex items-center gap-2 mt-2">
    <img
      src="/images/facebook.png"
      alt="Facebook logo"
      class="w-8 h-8 object-cover"
    />
    <img src="/images/x.webp" alt="X logo" class="w-8 h-8 object-cover" />
    <img
      src="/images/instagram.png"
      alt="Instagram logo"
      class="w-8 h-8 object-cover"
    />
  </article>
</section>
