---
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      name="description"
      content="Descubre mundos ocultos y vive aventuras únicas con Mundivaga, tu app para explorar lo desconocido."
    />
    <meta
      name="keywords"
      content="Mundivaga, explorar mundos, viajes ocultos, aventura, misterio, descubrimiento"
    />
    <meta name="author" content="Fabio Sosa" />
    <meta name="robots" content="index, follow" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <title>Mundivaga - Explora Mundos Ocultos</title>
  </head>
  <body class="min-h-screen w-full">
    <slot />

    <script>
      import "../helpers/gsap";
    </script>
  </body>
</html>
