<section
  class="bg-[url('/images/subscribe-cover.webp')] bg-fixed bg-no-repeat bg-center bg-cover w-full h-[50vh] grid content-center gap-2 place-items-center opacity-0 mt-[10vh] lg:mt-[20vh] section"
>
  <h2
    class="text-xl font-bold text-balance text-center text-white shadow-2xl lg:text-4xl"
  >
    Recibe inspiración para tus viajes directamente <br
      class="hidden lg:block"
    />
    en tu correo electrónico.
  </h2>

  <form
    id="subscribe-form"
    class="flex items-center flex-col gap-3 lg:flex-row"
  >
    <input
      type="email"
      name="email"
      placeholder="tucorreo@mail.com"
      class="border-none p-2 outline-none bg-white rounded-2xl lg:w-[250px]"
      required
    />
    <button
      type="submit"
      class="rounded-2xl p-2 text-center font-semibold text-white bg-orange-500"
    >
      Subscribirme
    </button>
  </form>

  <p class="text-xs text-white font-bold text-center mt-3">
    No enviaremos spam. Solo inspiración real para tus próximas aventuras.
  </p>
</section>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
/>

<script>
  import { Notyf } from "notyf";

  const notyf = new Notyf({
    duration: 5000,
    position: { x: "right", y: "top" },
    types: [
      {
        type: "success",
        background: "#10B981",
        icon: false,
      },
      {
        type: "error",
        background: "#EF4444",
        icon: false,
      },
    ],
  });

  const form = document.getElementById("subscribe-form") as HTMLFormElement;

  form!.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(form);
    const email = formData.get("email");

    try {
      const response = await fetch("/api/subscribe", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email }),
      });

      if (!response.ok) {
        const error = await response.json();
        throw new Error(`Error al subscribirse: ${JSON.stringify(error)}`);
      }

      notyf.success("Te has subscrito exitosamente");
      form.reset();
    } catch (error) {
      notyf.error("Hubo un error con la subscripción");
    }
  });
</script>
